<h1>MEP Contact</h1>

<p>
	We're helping you contact the MEPs across Europe to help pass the word that 16 million people voted to remain in the EU, within the UK.
	Or 48%. 
</p>

<p>
	Below is the MEP you'll contact. Reload this page if you'd like to choose another MEP.
</p>

<p>
	We'll not use your data for any other purpose, but we need your email, name, and location.
</p>

<div id="mep_info">
	MEP: <%= @mep.name %>
	<br/>Country: <%= @mep.country.name %>
	<br/>Party: <%= @mep.party.name %>
</div>

<%= render 'form' %>