<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
	<strong>MEPs</strong>
	<% @country.meps.each do |mep| %>
		<br/> <%= mep.name %>
	<% end %>
</p>

<p>
	<%= link_to "All countries", countries_url %>
</p>